<nav class="site-nav">

  <ul>
    <li>
      <a href="{{ '/' | prepend:site.baseurl }}">
        <div class="svg-container">
          <svg class="icon icon-home icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-home"></use>
          </svg>
        </div>
        Home
      </a>
    </li>

    <li>
      <a href="{{ '/tag/portfolio' | prepend:site.baseurl }}">
        <div class="svg-container">
          <svg class="icon icon-stats icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-stats"></use>
          </svg>
        </div>
        Portfolio
      </a>
    </li>

    <li>
      <a target="_blank" href="https://www.linkedin.com/in/michael-porter-j/">
        <div class="svg-container">
          <svg class="icon icon-linkedin icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
        </div>
        LinkedIn
      </a>
    </li>

    <li>
      <a href="{{ '/archives' | prepend:site.baseurl }}">
        <div class="svg-container">
          <svg class="icon icon-folder icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-folder"></use>
          </svg>
        </div>
        Archives
      </a>
    </li>

    <li>
      <a href="{{ '/contact' | prepend:site.baseurl }}">
        <div class="svg-container">
          <svg class="icon icon-bubble icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-bubble"></use>
          </svg>
        </div>
        Contact
      </a>
    </li>

    <li>
      <a href="{{ '/about' | prepend:site.baseurl }}">
        <div class="svg-container">
          <svg class="icon icon-user icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-user"></use>
          </svg>
        </div>
        About
      </a>
    </li>

    <li>
      <a target="_blank" href="https://github.com/portermichael/">
        <div class="svg-container">
          <svg class="icon icon-bubble icon-blue" viewBox="0 0 32 32">
            <use xlink:href="#icon-github"></use>
          </svg>
        </div>
        Github
      </a>
    </li>

  </ul>

</nav>
