/**
 * ======================================
 * ---------- SITE HEADER ---------------
 * ======================================
 */

.site-header {

	// background: $site-header-bg;
	background-image: url('/images/elElephanteHeroFinal.png');
	background-size: cover;
	color: $site-header-font-color;
	overflow: hidden;

} // .site-header

// ---------- Logo
.site-logo {
	margin: 1.2em 0.5em 0 0.5em;
	text-align: center;

	a {
		color: $site-header-font-color;
	}

}

.site-title-link {
	.site-title {
		font-size: 2.0em;
		-webkit-transition: .2s all ease-out;
		        transition: .2s all ease-out;
		&:hover {
			text-shadow: 2px 2px 3px $site-logo-font-shadow;
		}
	}
}

.site-subtitle {
	margin: 0 0.5em;
}

.site-slogan {
	// display: inline;
	font-style: italic;
	font-size: 1.0em;
	text-align: right;
	margin-top: 0.5em;
	margin-right: 0.5em;
}
