/**
 * ======================================
 * ------- SITE NAVIGATION --------------
 * ======================================
 */

.site-nav {
	text-align: center;
	margin-top: 0.5em;
	overflow: hidden;
	background-color: $nav-bg-color;
	ul {
		margin-left: 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		margin-right: 2em;
		margin-bottom: 0em;
	}

	a {
		padding-bottom: .2em;
		position: relative;
		overflow: hidden;
		display: inline-block;
		color: $nav-font-color;

		&:hover {
			color: darken($bg-color, 40%);
		}
	}

}
