/**
 * ======================================
 * ---------- SITE SIDEBAR --------------
 * ======================================
 */

.site-sidebar {

	padding: $baseline $side-padding;
	padding-bottom: 0em;

	.module {
		background-color: none;
		padding: .5em;
		margin-bottom: 1em;
		border: 1px solid $nav-border-color;
		border-radius: 10%;
		padding: 0;
	}

	.module-body {
		padding: 0 $side-padding;
		a:hover {
			text-decoration: underline;
		}
	}

	.block-module-header {
		h2 {
			margin: 0;
			padding: $side-padding;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
		}
	}

	.svg-container {
		padding: 0;
		.icon {
			width: $baseline;
			height: .8em;
		}
	}

	@include breakpoint(medium){
		width: 20%;
		float: left;
		position: sticky;
		top: 1em;
	}

	.post-page & {
		display: inline;
		width: 50%;
	}

}
