/**
 * ======================================
 * ---------- SITE SIDEBAR --------------
 * ======================================
 */

.site-sidebar {

	padding: $baseline $side-padding;
	padding-bottom: 0em;

	.module {
		@include post;
		padding: 0;
	}

	.module-body {
		padding: 0 $side-padding;
		a:hover {
			text-decoration: underline;
		}
	}

	.block-module-header {
		h2 {
			margin: 0;
			padding: $side-padding;
		}
	}

	.svg-container {
		padding: 0;
		.icon {
			width: $baseline;
			height: .8em;
		}
	}

	@include breakpoint(medium){
		width: 25%;
		float: left;
		position: sticky;
		top: 1em;
	}

	.post-page & {
		display: inline;
		width: 50%;
	}

}
